util/targer/WEB-INF/classes/custome-apple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.junhua.com/schema/apple"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.junhua.com/schema/apple">

    <xsd:complexType name="apple">
        <xsd:attribute name ="id" type="xsd:string">

        </xsd:attribute>

        <xsd:attribute name="name" type="xsd:string">

        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="apple" type="apple">

    </xsd:element>

</xsd:schema>